


#age_c {
	background:none;
	border:none;
}

#record_owner_c,
#owning_branch_c,
#owning_dealer_c,
#created_on_c {
	background: none;
	border:none;
}

.status_update_btn {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	padding-bottom: 4px !important;
}

#qualify_btn, #reopen_btn {
	margin-left: 4px;
}
