/*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

target / context = result

 */
.grid_1 {width: 6.5%;} /* 65px */
.grid_2 {width: 15%;} /* 150px */
.grid_3 {width: 23.5%;} /* 235px */
.grid_4 {width: 32%;} /* 320px */
.grid_5 {width: 40.5%;} /* 405px */
.grid_6 {width: 49%;} /* 490px */
.grid_7 {width: 57.5%;} /* 575px */
.grid_8 {width: 66%;} /* 660px */
.grid_9 {width: 74.5%;} /* 745px */
.grid_10 {width: 83%;} /* 830px */
.grid_11 {width: 91.5%;} /* 915px */
.grid_12 {width: 100%;} /* 1000px */


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 2% 0 0; /* 20px */
	float: left;
	display: block;
	/*background-color:green;*/
}

.alpha {margin-left:0;}
.omega {margin-right:0;}

.wrap {
	width: 100%; /*width: 1400px;*/
	/*max-width: 1100px;*/
	margin: auto;
}




.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}




/*:::::::::::::::::::::::::::::::::::: CUSTOM CSS ::::::::::::::::::::::::::::::::::::::::::::::::*/

.status {
	position: fixed;
	width: 100%;
	left: 1px;
	bottom: 1px;
	padding: 5px 10px;
	background-color: rgba(255,255,255, .2);
}

.status span {
	font-weight: bold;
	font-size: 14px;
}

.block {
	width:100%;
}

#detailpanel_-1 .head {
	padding: 5px!important;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 10px;
}

#detailpanel_-1 .head h3 {
	font-size: 16px;
}

#detailpanel_-1 .body label {
	font-size: 14px!important;
	color: #555;
	font-weight: normal;
}

#detailpanel_-1 .body {
	padding: 5px;
}

.vehicle-details {
	padding: 5px;
	background-color: #d8f5ee;
	border: 1px solid #a5e8d6;
	max-height: 160px;
	border-radius: 4px;
	overflow: auto;
}

.vehicle-remarks textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

.payment-summary h5 {
	font-weight: bold!important;
	font-size: 12px!important;
	margin:0;
	line-height: 2;
}
.payment-summary .p-value {
	font-size: 12px;
	color: #888!important;
}

.payment-summary li {
	padding: 10px 5px;
}

.payment-summary li:nth-child(odd) {
	background-color: #ddd!important;
}

.sales-order-label {
	padding:0;
	margin:0;
	font-size: 32px;
	font-weight: bold;
}

.table-custom tr {
	border-bottom: 1px solid #eee!important;
	cursor: pointer;
}

.table-custom tr:hover {
	background-color: #eee!important;
}

.table-custom td, .table-custom th {
	padding: 7px 5px!important;
}	

.table-custom .selected {
	background-color: #d9d9d9!important;
}

.selected-cus {
	background-color: #ddd!important;
}